<app-menu-title></app-menu-title>
<app-menu-bar />
<div class="container__articles">
  <div class="articles__main">
    @if (itemComId1) {
    <app-big-card
      [Id]="itemComId1.id"
      [photoCover]="itemComId1.photoCover"
      [cardTitle]="itemComId1.title"
      [cardDescription]="itemComId1.description"
    >
    </app-big-card>
    }
  </div>
  <div class="articles__others">
    @for (item of dados; track item.title) { @if (item.id !== '1') {
    <app-small-card
      [Id]="item.id"
      [cardTitle]="item.title"
      [photoCover]="item.photoCover"
    >
    </app-small-card>
    } }
  </div>
</div>
